body {
    position: relative;
}

.container {
    width: 90%;
    margin: 0 auto;
    background-color: #107abb;
    display: flex;
    justify-content:space-around;
    min-height: 300px;
    
}

#my_form {
    display: flex;
    
    min-width: 100%;
    margin: 0;
}

.column_container {
    margin: 0;
    flex-grow: 1;
    background-color: #dee2e5;
    min-width: calc(33.333% - 25px);
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
   
}

.form_column {
    
    background-color:  #dee2e5;
}

.button_delete_element {
    width: 20px;
    height: 20px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
    
    cursor: pointer;
}

.button_delete_element:before {
    content: '+';
    color: #337AB7;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 25px;
    line-height: 1;
    top: -4px;
    left: 1px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}

.button_delete_element:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #337AB7;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}

.button_delete_element:hover:after {
    transform: scale(1);
}

.button_delete_element:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: #fff;
}

 .button_create_element {
    width: 140px;
    height: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    padding-left: 10px;
    color: #90a0a8;
} 


.input_task {
    display: flex;
    width: 96%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: #90a0a8;
  
}

.tasks_container {
    margin: 10px;
    
    height: 100%;
}

.task.dragged {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    /* height: 40px;
    min-width: 522px; */
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #90a0a8;
    background-color: #ffffff;
    opacity: 0.5;
    cursor: grab;
    
}
.task {
    
    height: 40px;
    min-width: 215px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #90a0a8;
    background-color: #ffffff;
}

.fantom {
    /* height: 40px;
    min-width: 215px; */
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #90a0a8;
    background-color: #ccc;
}

.hidden {
    display: none;
}

.btn_add_task {
    border: none;
    cursor: pointer;
    color: #90a0a8;
    background-color: #dee2e5;
}

.title_container {
    margin: 0;
}



/* .dragging-over {
    position: relative;
    z-index: 10;
} */

